h1 {
  color: blue;
  text-decoration: underline;
  background: gold;
}

h2 {
  color: purple;
  font-weight: bold;
  font-size: 25px;
  border: 1px solid orange;
}

section {
  width: 50%;
  height: 200px;
  background: gray;
  border: 1px solid black;
}

footer {
  background: black;
  border: 1px solid green;
  color: white;
  font-size: 20px;
  font-family: Roboto;
}
